html {
    color-scheme: dark !important;
}
body {
    background-color: #181a1b;
    font-family: 'Source Sans Pro', sans-serif;   
}

.top {
    display: flex;
    align-items: stretch;
    background: chocolate;
    color: #eee;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info {
    text-align: center;
    position: relative;
    align-items: stretch;
    font-family: inherit;
    padding: 5px;
    font-weight: bold;
}

.lobby-code{
    text-align: center;
    position: relative;
    font-size: 2000;
    font-family: inherit;
    background-color: rgb(34, 89, 161);
    border-radius: 10px;
    padding: 5px;
    cursor: copy;
    font-weight: bolder;
}

.lobby_members{
    display: flex;
    position: relative;
    background-color: rgb(87, 87, 87);
    border-radius: 10px;
    font-family: inherit;
    font-weight: bolder;
    align-items: center;
    padding: 5px;
}

.icon {
    width: 20px;
    height: auto;
    margin: none;
    margin-right: 5px;
    position: relative;
}

.logo{
    font-family: inherit;
    font-weight: bolder;
}

.spacer {
    width: 0.5%;
}

.spacer-2{
    width: 65%;
}



.members-number {
    display: flex;
}




.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%;
}

.error {
    font-weight: bold;
}

.message-box {
    background-color: rgb(56, 55, 55);
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 500px;    
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    padding: 10px;   
}

.inputs {
    display: flex;
}

.msg-full{
    font-family: 'Source Sans Pro', sans-serif;
}

#message {
    flex: 1;
    height: 50px;
    width: 100%;
    border: blue;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: auto;
    font: inherit;
    padding: 0.5em;
}

.test{
    color: rgb(255, 0, 0);
}


#msg-name {
    font-weight: 1200;
}

input[type=text]:focus{
    border: none;
}