{% extends 'base.html' %}
{% block content %}
<div class="page">
    <div class="top">
        <div class="info">CHAT ROOM</div>
        <div class="spacer"></div>
        <div class="lobby-code">{{code}}</div>
        <div class="spacer-2"></div>
        <div class="lobby_members" id="lobby_members"></div>
            <!--
            <img class="icon" src="./static/img/icon1.png" alt="">
            <div class="members-number">1{{n_users}}</div> 
            -->
    </div>
    <div class="chat">
        <div class="message-box">
            <div class="messages" id="messages"></div>
            <div class="inputs">
                <input type='text' name='message' id='message' placeholder="Type here to chat" maxlength="300"></input>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript helps page update without manually refreshing -->
<script src="static/index.js"></script>
{% endblock%}